@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* =========================
   ROOT VARIABLES
========================= */

:root {
    --label-color: #4a6e8a;
    --label-weight: 500;

    --input-border: 1px solid rgba(167, 179, 206, 0.712);
    --input-focus: 1px solid rgb(4, 50, 150);
    --dotted-border: 1px dotted rgba(82, 119, 206, 0.925);

    --placeholder-color: rgba(167, 179, 206, 0.589);
    --text-color: #477faa;

    --primary-color: #0090FF;

}


/* =========================
   GLOBAL
========================= */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}


/* =========================
   FORM HEADER
========================= */

.form-header {
    width: 100%;
    height: max-content;
    padding: 40px 40px 10px 40px;
    display: flex;
    flex-direction: row;

}

.form-header .flex{

    flex: 1;
}

.form-header button{

    padding: 7px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    height: max-content;
    width: max-content;
    font-size: 16px;
}

.form-header h1 {
    margin: 0;
    padding: 0;

    color: #477faa;
    font-size: 1.5rem;
}


/* =========================
   MAIN CONTAINER
========================= */

.main-container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: max-content;

    padding: 120px 40px 40px 80px;
    
}


/* =========================
   FORM CARD
========================= */

.main-container .form-card {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: max-content;

    gap: 10px;

    border: 1px solid rgba(167, 179, 206, 0.521);
    border-radius: 25px;

    background-color: #fcfcfc;

    overflow: hidden;
    
}


/* =========================
   FORM CONTAINER
========================= */

.form-card .form-container {
    width: 100%;
    height: max-content;

    padding: 10px 40px;
}


/* =========================
   FORM
========================= */

.form-container .form {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 20px;
}


/* =========================
   FORM TITLE
========================= */

.form-container h3 {
    margin: 10px 0 0 0;
    color: var(--text-color);
}


/* =========================
   HR
========================= */

.form-container hr {
    width: 100%;

    margin: 0;

    border: 1px solid var(--primary-color);
}


/* =========================
   NORMAL FORM FIELD
========================= */

.form .form-field {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: max-content;

    gap: 10px;
}


/* =========================
   LABEL
========================= */

.form-field label {
    color: var(--label-color);

    font-size: 14px;
    font-weight: var(--label-weight);
}

.form-field label span {
    color: red;
}


/* =========================
   INPUT
========================= */

.form-field input {
    width: 100%;
    height: 2.5rem;

    padding: 10px 15px;

    border: var(--input-border);
    border-radius: 15px;

    font-family: inherit;
}

.form-field textarea{

    width: 100%;
    height: 100px;

    padding: 10px 15px;

    border: var(--input-border);
    border-radius: 15px;

    font-family: inherit;
    resize: none;


}


/* =========================
   INPUT PLACEHOLDER
========================= */

.form-field input::placeholder,
.input-field select,
.form-field textarea::placeholder,
.input-field input::placeholder,
.input-field-large input::placeholder,
.input-field-short input::placeholder   {
    color: var(--placeholder-color);
}


/* =========================
   INPUT FOCUS
========================= */

.form-field input:focus,
.form-field textarea:focus,
.form-field select:focus,
.input-field input:focus,
.input-field select:focus,
.input-field-large input:focus,
.input-field-short input:focus {
    outline: none;

    border: var(--input-focus);
}


/* =========================
   SELECT
========================= */

.form-field select {
    width: 100%;
    height: 2.5rem;

    padding: 10px;

    color: var(--placeholder-color);

    border: var(--input-border);
    border-radius: 15px;

    font-family: inherit;
}

.form-field select option, .input-field select option {
    height: 2.5rem;

    padding: 10px;

    color: var(--text-color);
}


/* =========================
   INPUT FIELD
========================= */

.input-field {
    display: flex;
    flex-direction: column;

    width: 50%;

    gap: 5px;
}

.input-field input,
.input-field select {
    width: 100%;
    height: 2.5rem;

    padding: 10px 15px;

    border: var(--input-border);
    border-radius: 15px;
}

.input-field .file-label {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 2.5rem;

    padding: 10px 15px;

    border: var(--dotted-border);
    border-radius: 15px;

    background-color: #005ea107;
    color: var(--primary-color) !important;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
}

.input-field .file-label svg{

    height: 14px;
    width: 14px;
}

.input-field .file-label:hover {
    transition: all 0.3s ease;
    background-color: #2f87c51e;
}

.input-field input[type="file"] {
    display: none;
}

.input-field input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* =========================
   LARGE INPUT FIELD
========================= */

.input-field-large {
    display: flex;
    flex-direction: column;

    width: 80%;

    gap: 5px;
}

.input-field-large input {
    width: 100%;
    height: 2.5rem;

    padding: 10px 15px;

    border: var(--input-border);
    border-radius: 15px;
}


/* =========================
   SHORT INPUT FIELD
========================= */

.input-field-short {
    display: flex;
    flex-direction: column;

    width: 20%;

    gap: 5px;
}

.input-field-short input {
    width: 100%;
    height: 2.5rem;

    padding: 10px 15px;

    border: var(--input-border);
    border-radius: 15px;
}


/* =========================
   FORM ROW
========================= */

.form .form-row {
    display: flex;
    flex-direction: row;

    width: 100%;

    gap: 20px;
}


/* =========================
   FORM ROW LABELS
========================= */

.form-row .input-field label,
.form-row .input-field-large label,
.form-row .input-field-short label {
    color: var(--label-color);

    font-size: 14px;
    font-weight: var(--label-weight);
}

.form-row .input-field label span,
.form-row .input-field-large label span,
.form-row .input-field-short label span {
    color: red;
}


/* =========================
   FORM FIELD GRID
========================= */

.form .form-field-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    width: 100%;

    gap: 10px;
}


/* =========================
   RADIO FIELD
========================= */

.form-field hr {

    width: 100%;

    margin: 0;

    border: 1px solid var(--primary-color);
}


.form-field-grid .radio-field {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: max-content;

    padding: 10px;
}

.form-field-grid .radio-field label {
    color: var(--label-color);

    font-size: 12px;
}

.form-field-grid .radio-field input {
    width: max-content;
    height: 100%;

    padding: 10px;

    accent-color: var(--primary-color);
}


/* =========================
   BUTTON
========================= */

.form button {
    padding: 10px;

    border: none;
    border-radius: 10px;

    background-color: var(--primary-color);

    color: white;

    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    &:hover{

        transition: all 0.3s ease;
        background-color: #0771c2;
    }
}