body{

    margin: 0;
    padding: 0;
}

*{

    box-sizing: border-box;
}

.form-header{

    background-color: #005FA1;
    padding: 20px 20px;
    width: 100%;
    height: max-content;

}

.form-header h1{

    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5rem;
}

.form-overlay{

    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: max-content;
    /* background-color: rgba(0, 0, 0, 0.363);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */

}

.form-overlay .form-card{

    width: 60%;
    height: max-content;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.form-card .form-container{

    width: 100%;
    padding: 10px 20px;
    height: max-content;
}

.form-container .form{

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-field input {

    height: 2.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-field input:focus,
.form-field select:focus,
.form-row .input-field input:focus{

    outline: none;
    border: 1px solid black;
}

.form-field select{

    height: 2.5rem;
    padding: 10px 10px;
    color: gray;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-field select option{

    height: 2.5rem;
    padding: 10px 10px;
    color: black;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-field  input {

    height: 2.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.form-field label span{

    color: red;
}

.form-field label{

    color: black;
}

.form-container .form-field{

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form .form-row{

    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;

}

.form-row .input-field{

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-row .input-field label{

    color: black;
}

.form-row .input-field label span{

    color: red;
}

.form button{

    border: none;
    border-radius: 10px;
    background-color: #005FA1;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
}

